body {
  font-family: Arial;
  background: #f2f5f8;
  text-align: center;
  padding: 40px;
}

input, button {
  padding: 10px;
  margin: 6px;
}

#result {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}